.key {
	width: 30%;
    height: 30px;
	float: left;
	text-align: center;
	line-height: 25px;
}

.foodData {
	width: 70%;
	float: right;
	border: none;
	border-bottom: 1px solid #000;
	text-align: center;
}

.information textarea {
	width: 70%;
	float: right;
	font-size: 13px;
	border: 1px solid #000;
	border-radius: 0.3em;
}

#foodLogo {
    width:50%;
}

#submit{
    width:20%;
    height:29px;
    float: right;
    bottom: 0;
    color: #fff;
    border-radius: 0.3em;
    border: none;
    background: #5CB85C;
}

#imgLogo{
    display: block;
    width: 75%;
    height: 75px;
    margin: 0px auto;
}

.upload-logo{
    height: 120px;
}

.upload-logo>.key{
    height: 35px;
}